html {
  --ion-font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
ion-grid {
  height: 100vh;
  padding: 50px 20px 20px 20px;
}
ion-row {
  padding: 10px 10px 10px 10px;
}
ion-col {
  text-align: center;
}
ion-icon {
  color: #f51919;
  padding-right: 5px;
}
.center-buttons {
  margin-left: -20px;
}
.current-number {
  background-color: #f51919;
  margin-right: 10vw;
  margin-left: 10vw;
  padding: 5px 5px 5px 5px;
  font-size: 1em;
}
.current-score {
  color: white;
  font-size: 3em;
  margin-top: 10px;
  margin-bottom: 10px;
}
ion-button {
  font-size: 1.3em;
}
.players-name {
  font-size: 3em;
  margin-bottom: 0;
}
.global-players-score {
  color: #f51919;
  font-size: 9em;
  margin-top: 0;
  font-weight: 300;
}
.dice {
  box-shadow: 0px 0px 20px 0px #afacac;
  border-radius: 5px;
  height: 130px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.second-row {
  margin-top: 5vh;
}
.last-row {
  margin-top: 10vh;
}
.empty-div {
  height: 100px;
  width: 100px;
}
