html {
  --ion-font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
ion-col {
  text-align: center;
}
ion-icon {
  color: #f51919;
  padding-right: 5px;
}
.current-number {
  background-color: #f51919;
  padding: 5px 0 5px 0;
  font-size: 1em;
  border-radius: 5px;
}
.current-score {
  color: white;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}
ion-button {
  font-size: 1.3em;
}
.players-name {
  font-size: 2.5em;
  margin-top: 0;
  margin-bottom: 0;
}
.global-players-score {
  color: #f51919;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 300;
}
.dice {
  box-shadow: 0px 0px 20px 0px #afacac;
  border-radius: 5px;
  height: 130px;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
